.prestation_sheet_header {
    width: 100%;
    background-color: #5F497A;
    padding: 20px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #6D3599;
    text-align: center;
    .prestation_sheet_header_fiche{
      text-transform: uppercase;
      font-size: 16px;
    }
    .prestation_name{
      margin: 10px 0px 10px 0px;
      color:red;
      font-size:16px;
    }
}
.exam_etat_satisfaction td{
  width: 80% !important;
}
.exam_etat_satisfaction .oe_form_label[for]{
  white-space: normal !important;
}

.constat_class_table table thead > tr > th:nth-child(2){
    width: 350 px;
}
.headding_1{
    color: #2C75FF;
    font-size: 16px; 
}
.headding_2{
    color: #2C75FF;
    font-size: 14px; 
}
